###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

# Symfony 2/3 legacy (si jamais tu veux les garder)
# /var/cache/*
# /var/logs/*
# /var/sessions/*
# !var/cache/.gitkeep
# !var/logs/.gitkeep
# !var/sessions/.gitkeep

# Autres dossiers ignorés utiles
/web/bundles/
/web/uploads/
/build/
/composer.phar
/.web-server-pid

# Fichiers temporaires ou de sauvegarde
**/Entity/*~
